@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

#font {
    font-family: 'East Sea Dokdo', cursive;
    background-color: lightslategray;
    text-align: center;
    
}
